.App {
  text-align: center;
  padding: 30px;
  background: #f1fbfb;
  color: #484848;
  height: 100%;
}

.App * {
  box-sizing: border-box;
}

.Result {
  padding-top: 10px;
}

html, body, #root {
  height: 100%;
}